@model IEnumerable<WEB_MANGE_COURCE.Models.Enrollment>

@{
    ViewBag.Title = "list";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.teacher_id)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.course_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.student_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.teacher_id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.enm_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.enm_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.enm_id })
                </td>
            </tr>
        }
    }

</table>
