@model List<WEB_MANGE_COURCE.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>
        @Html.ActionLink("Create New", "category",new {area="Admin"} , new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.category_id</td>
                        <td>@item.cate_name</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.category_id }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.category_id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.category_id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No categories found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
