@model IEnumerable<WEB_MANGE_COURCE.Models.Schedule>

@{
    ViewBag.Title = "listschedule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>listschedule</h2>

<p>
    @Html.ActionLink("Create New", "schedule")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.day_of_week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.day_of_week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.class_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.schedule_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.schedule_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.schedule_id })
        </td>
    </tr>
}

</table>
