@model WEB_MANGE_COURCE.Models.Schedule

@{
    ViewBag.Title = "Create Schedule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create Schedule</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.teacher_id, "Teacher", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("teacher_id", null, "-- Select Teacher --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.teacher_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.student_id, "Student", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("student_id", null, "-- Select Student --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.student_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.course_id, "Course", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("course_id", null, "-- Select Course --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.course_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.class_id, "Class", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("class_id", null, "-- Select Class --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.start_time, "Start Time", htmlAttributes: new { @class = "control-label" })
                <div>
                    <select class="form-control" id="start_time" name="start_time">
                        <option value="07:00">07:00</option>
                        <option value="09:00">09:00</option>
                        <option value="13:00">13:00</option>
                        <option value="15:00">15:00</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.start_time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.end_time, "End Time", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.end_time, new { htmlAttributes = new { @class = "form-control", placeholder = "End Time", onchange = "validateEndTime(this.value)" } })
                    @Html.ValidationMessageFor(model => model.end_time, "", new { @class = "text-danger" })
                </div>
            </div>

            <script>
                 function validateEndTime(endTime) {
                     var startTime = document.getElementById("start_time").value;
                     if (startTime && endTime) {
                          if (startTime >= endTime) {
                          alert("End time must be greater than start time.");
                          document.getElementById("end_time").value = ''; // Clear the end time input
                          }
                     }
                 }
            </script>



            <div class="form-group">
                @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control", placeholder = "Status" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "listschedule")
</div>
