@model IEnumerable<WEB_MANGE_COURCE.Models.Cours>

@{
    ViewBag.Title = "list";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "course")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.cate_name)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.course_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.cate_name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.course_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.course_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.course_id })
                </td>
            </tr>
        }
    }

</table>
